<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/site.css">
    <title>MAM</title>
</head>
<body>
    
    <div id="main">
        <div id="square">

            <div id="head-part">
    
            </div>
    
    
            <div id="content-part">
    
            </div>
    
    
        </div>
    </div>
    
</body>
</html>