/* responsive settings */

@media (max-width:990px) {

    #square{
        padding: 16px;
        width: 100%;
        height: 100%;
    }

    hr{
        width: 100%;
    }

    /*leftbar*/
    .leftbar{
        height: 0;
        padding: 0;
        padding-left: 0;
    }
    
    .left-icons {
        visibility: hidden;
    }

    .my-icon{
        visibility: hidden;
    }

    /*head-part*/

    #head-part{
        visibility: hidden;
        margin-top: 0;
        padding: 0;
    }

    /*first-page*/
    #first-page{
        margin-top: 0px;
        margin-left: 0;
        padding: 20px;
    }

    #first-page img {
        width: 280px;
        height: 310px;

        display: block;
        margin: 1rem auto 0;
    }

    .ns-title{
        margin-top: 0px;
        color: rgb(86, 86, 86);
        font-size: 2.2rem;
        font-weight: 800;
        text-align: center;
    }
    
    .ns-title-out{
        margin-top: 0px;
        font-weight: 800;
        color:#703434;
        font-size: 2.2rem;
        text-align: center;
    }


    .ns-job{
        text-align: center;
        height: 36px;
        font-size: 1.6rem;
        font-weight: 600;
        color: rgb(86, 86, 86);
    }
    
    .ns-job-out{
        text-align: center;
        height: 36px;
        font-size: 1.6rem;
        font-weight: 600;
        color: #703434;
    }

    #first-page p{
        text-align: center;
        font-size: 0.8rem;
        letter-spacing: 8;
        margin-left: 0px;
        padding: 0.2rem;
    }

   #first-page hr{
        width: 100%;
        margin-left: 0px;
    }

    #first-page .name-surname{
        margin-left: 0px;
        margin-top: 0px;
    }

    /*tech part*/

    #techs{
        margin: 10px;
        margin-top: 150px;
    }

    #techs .col-lg-10{
        width: 100%;
        height: 100%;
        margin: 1rem auto 3rem;
        display: flex; 
        flex-wrap: wrap;
    }

    #techs img{
        margin-top: 10px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 10px;
        width: 42px;
        height: 37px;
        filter: grayscale(10%);
    }

    .imgs{
        display: inline-block;
        width: 5%;
        padding: 6px;
        margin-left: 22px;
    }
    
    
    .timg{
        margin-top: 10px;
        margin-bottom: 12px;
        width: 50px;
        height: 45px;
        filter: grayscale(90%);
    }


    /*projects part*/
    #projects{
    margin-top: 120px;
    }   

    .card{
        margin: auto;
        margin-bottom: 90px;
        padding: 12px;
        border-radius: 22px;
    }

    #projects h2{
        margin-left: auto;
    }
    .try{
        margin-left: 0;
        margin-bottom: 0px;
    }
    .card-img-top{
        width:100%;
        height:12rem;
        padding: 0 2px 0;
        border-radius: 6px;
    }


    /*Experience part*/

    #experience{
        margin-top:120px;
    }

    #experience .col-lg-10{
        width: 100%;
        height: 100%;
        margin-bottom: 44px;
        margin: 12px auto px;
        border-radius: 16px;
    }


    /*footer-1 part*/
    #footer-1{
        margin-top: 100px;
    }
    
    .footer-icons{
        margin-left: 0;
        margin-top: 38px;
        text-align: center;
    }

    .footer-icons .fa-brands{
        padding-left: 46px;
    }

    #footer-1 h4{
        margin-left: 0;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.3rem;
        text-align: center;
    }
    
    #footer-1 h5{
        margin-left: 0;
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
    }


    /*footer-2 part*/
    #footer-2 .icon{
        visibility: hidden;
    }

    #footer-2 .col-lg-4{
        margin-bottom: 16px;
        font-size: 20px;
    }

    .copyright{
        font-size: 40px;
    }

    
    .footer-end .col-lg-2{
        text-align: center;
        height: 10px;
        width: 25%;
        border-radius: 0px;
        margin-bottom: 0;
    }

    .footer-end{
        padding: 0.4rem;
    }

    
}