body{
    background-color: rgb(220, 219, 219);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 650;
    color: rgb(68, 67, 67);
}

a{
    text-decoration: none;
    color:rgb(68, 67, 67);
}


hr{
    width: 22rem;
    background: gray;
    top: 10px;
    height: 3px;
    border-style: none;
}

#square{
    width: 72rem;
    height: 300rem;
    height: 100%;
    background-color: white;
    margin: 3rem auto;
    border-radius: 16px;
    box-shadow: 12px 12px 12px 12px rgb(178, 176, 176); 
}


/*leftbar */

.leftbar{
    height: 92rem;
    padding: 32px;
    padding-left: 38px;
}

.left-icons {
    padding-left: 3px;
    padding-top: 138px;
}

.left-icons .fa-brands{
    font-size: 1.5rem;
    padding-top: 16px;
}

.left-icons :hover{
    font-size: 2rem;
    color:#703434;
}

.my-icon{
    padding-bottom: 13rem;
}

/* Head part */
#head-part{
    padding: 32px;
    padding-left: 38px;
    height: 22px;
}
    
#head-part i{
    padding-right: 6px;
}

.head-links :hover{
    font-size: 19px;
    color:#703434;
}


/*first content part*/

#first-page{
    margin-top: 150px;
    margin-left: 60px;
    margin-right: auto;
}

.ns-title{
    height: 130px;
    margin-top: 16px;
    color: rgb(86, 86, 86);
    font-size: 50px;
    font-weight: 800;
}

.ns-title-out{
    height: 130px;
    margin-top: 16px;
    color:#703434;
    font-size: 53px;
    font-weight: 900;
}

.ns-job{
    height: 36px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(86, 86, 86);
}

.ns-job-out{
    height: 36px;
    font-size: 28px;
    font-weight: 600;
    color: #703434;
}

.ns-content {
    color: rgb(37, 151, 96);
    font-size: 42px;
}

.ns-content-out{

}

#first-page p{
    font-size: 19px;
    color: rgb(108, 108, 108);
    font-weight: 500;   
}

#first-page img {
    margin-left: 80px;
    width: 300px;
    height: 300px;
    border-radius: 33px;
}




/*   Tech parts   */

#techs{
    margin-top: 240px;
}

#techs h2{
    font-weight: 800;
}

#techs .col-lg-10{
    margin-bottom: 50px;
    width: 57rem;
    height: 12rem;
    background-color: rgb(220, 219, 219);
    border-radius: 4px;
}

#techs p{
    font-size: 16px;
    margin-top: 18px;
    margin-left: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.imgs{
    display: inline-block;
    width: 5%;
    padding: 10px;
    margin-left: 30px;
}


.timg{
    margin-top: 10px;
    margin-bottom: 12px;
    width: 50px;
    height: 45px;
    filter: grayscale(90%);
}

.timg2{
    margin-top: 10px;
    margin-bottom: 12px;
    width: 50px;
    height: 45px;
    filter: grayscale(0%);
}





/*projects part*/

#projects{
    margin-top: 150px;
}
#projects h2{
    font-weight: 800;
}

#projects h4{
    font-weight: 600;
}   

#projects .row{
    margin-top: 4rem;
}

.card{
    margin: auto;
    padding: 12px;
    border-radius: 44px;
}

.card-title {
    font-weight:900;
}

.card-text {
    font-weight: 500;
}

.card-img-top{
    width:22rem;
    height:12rem;
}

.try{
    margin-left: 42px;
    margin-bottom: 42px;
}

.den{
    float: right;
}



/*Experience part*/

#experience{
    margin-top:7rem;
}

#experience .col-lg-10{
    width: 55rem;
    height: 10rem;
    background-color: rgb(220, 219, 219);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 33px;
    border-radius: 4px;
}

#experience h2{
    font-weight: 800;
}

#experience  h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*footer-1 part*/
#footer-1{
    margin-top: 7rem;
}

#footer-1 h4{
    margin-left: 36%;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.3rem;
}

#footer-1 h5{
    margin-left: 36.5%;
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer-icons{
    font-size: 1.3rem;
    margin-left: 29%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-icons .fa-brands{
    padding-left: 39px;
}

/*footer-2 part*/

#footer-2{
    margin-bottom: 50px;
}

.copyright1{
text-align: center;
}

.footer-start{
    margin-bottom: 20px;
}

.footer-end{
}

.footer-end .col-lg-2{
    text-align: center;
    height: 10px;
    width: 270px;
    border-radius: 1px;
}

.fe1{
    background-color: #e16969;
}

.fe2{
    background-color: #DE8B26;
}

.fe3{
    background-color: #90a1a8;
}

.fe4{
    background-color: #7d75e7;
}

.col-lg-4 p{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright h5{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}


