body{
    background-color: rgb(220, 219, 219);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 650;
    color: rgb(68, 67, 67);
}

a{
    text-decoration: none;
}

#square{
    width: 72rem;
    height: 142rem;
    background-color: whitesmoke;
    margin: 3rem auto;
    border-radius: 16px;
}

/* Head part */
#head-part{
padding: 32px;
padding-left: 38px;
}

#head-part i{
    padding-right: 6px;
}

/*leftbar */

.leftbar{
    height: 92rem;
    padding: 32px;
    padding-left: 38px;
}

.left-icons {
    position: fixed;
    padding-left: 3px;
    padding-top: 138px;
}

.left-icons .fa-brands{
    font-size: 1.5rem;
    padding-top: 16px;
}

.my-icon{
    padding-bottom: 13rem;
}

/*first content part*/

#first-page{
    margin-top: 150px;
    margin-left: 60px;
    margin-right: auto;
}

#first-page h2{
    margin-top: 16px;
    color: gray;
    font-size: 1.5;
    font-weight: 900;
}

#first-page img {
    margin-left: 40px;
    width: 300px;
    height: 300px;
}


/*   Tech parts   */

#techs{
    margin-top: 240px;
}

#techs hr{
    width: 150px;
    border: dotted 5px;
    border-bottom: 0px;
    border-color: rgb(235, 63, 0);
    margin-bottom:44px;
    margin-top: 22px;
}

#techs h2{
    font-weight: 800;
}

#techs .col-lg-10{
    margin-bottom: 50px;
    border-radius: 2px;
    width: 57rem;
    height: 12rem;
    background-color: rgb(220, 219, 219);
}

#techs p{
    font-size: 18px;
    margin-top: 18px;
    margin-left: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}

/*tech frontend*/
.imgs{
    display: inline-block;
    width: 10%;
    padding: 10px;
    margin-left: 30px;
    filter: grayscale(80%);
}
.html img{
    width: 50px;
    height: 50px;
}
.css img{
    width: 50px;
    height: 55px;
}
.bootstrap img{
    width: 52px;
    height: 43px;
}
.js img{
    width: 50px;
    height: 50px;
}
.jquery img{
    width: 50px;
    height: 50px;
}
.react img{
    width: 60px;
    height: 50px;
}
.flutter img{
    width: 50px;
    height: 47px;
}

/*tech backend*/




