body{
    background-color: rgb(217, 224, 230);
}

#square{
    width: 72rem;
    height: 92rem;
    background-color: gray;
    margin: 3rem auto;
    border-radius: 16px;
}

#head-part{
padding: 16px;
padding-left: 38px;
}

.leftbar{
    height: 92rem;
    padding: 16px;
padding-left: 38px;
}

#content-part{

}